.ticker {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 100%;
  z-index: 100;
  box-shadow: 5px 5px 20px black;
  
  &__wrapper {
    display: inline-flex;
    animation: scroll 30s linear infinite;
    height: auto;
    align-items: center;
  }

  &__item {
    padding: 0 1.5rem;
    text-align: center;
    white-space: nowrap;
    
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
