.parallax-wrapper {
  background-image: url("../../../assets/img/main_banner_bg/banner_bg_116.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;

  @media (orientation: portrait) {
    height: 100vh;
  }
  @media (width <= 1280px) {
    background-position: right;
  }
}

.background__block {
  display: grid;

  @media (orientation: portrait) {
    height: 100vh;
  }
}

.parallax-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: grid;
  place-items: center;

  @media (width <= 820px) {
    height: 100vh;
  }
  @media (orientation: portrait) {
    height: 100vh;
    // margin-top: 1vh;
  }
}

.parallax-video {
  display: grid;
  place-self: center;
  width: 80%;
  z-index: 99;
  box-shadow: 0 0 20px black;

  @media (width <= 1024px) {
    width: 96vw;
  }

  @media (orientation: landscape) {
    width: 75vw;
  }
}

.parallax-image {
  width: 80%;
  z-index: 99;
  box-shadow: 0 0 20px black;
  display: none;

  @media (width <= 1024px) {
    width: 96vw;
    display: block;
  }

  @media (orientation: landscape) {
    width: 140vh;
  }
}

.contact-number {
  font-weight: bold;
  color: rgba(167, 167, 167, 0.5);
  text-shadow: 0 0 6px rgba(145, 145, 145, 0.4);
}

@media (orientation: landscape) {
  .parallax-image {
    display: none;
  }
}

.custom-ticker__wrapper {
  .custom-ticker {
    .ticker__item {
      position: relative;
      font-size: calc(1.6vw + 0.8rem);
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.9);
      letter-spacing: 2.2px;
      text-shadow: 0 0 3px black;

    }
  }
}

.word-highlighting {
  color: rgb(1, 161, 217);
  text-shadow: 0 0 6px black;
  font-size: calc(2vw + 1rem);
}



