#i1,
#i2,
#i3,
#i4,
#i5 {
  display: none;
}

.expandable-slider__title {
  font-size: calc(2vw + 1rem);
  font-weight: 600;
  text-shadow: 2px 2px 4px rgb(90, 90, 90);
  line-height: 1;
}

.containers {
  margin: 0 auto;
  position: relative;
  width: 90%;
  height: 100%;
  padding-bottom: 55%;
  user-select: none;
  background-color: hsl(0, 0%, 0%);
  border: solid 1px #616161;
  border-radius: 10px;
  @media (orientation: portrait) and (width <= 768px) {
    width: 99%;
  }

  .slide_img {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  @media (orientation: landscape) and (1280px <= width) {
    width: 80%;
    padding-bottom: 50%;
  }

  @media (orientation: landscape) and (width <= 1024px) {
    width: 85%;
    padding-bottom: 55%;
  }

  @media (orientation: landscape) and (width <= 932px) {
    width: 75%;
    padding-bottom: 45%;
  }

  @media (orientation: landscape) and (width <= 882px) {
    width: 70%;
    padding-bottom: 45%;
  }

  @media (orientation: landscape) and (width = 882px) and (height = 344px) {
    width: 70%;
    padding-bottom: 40%;
  }

  @media (orientation: landscape) and (width >= 720px) and (width <= 740px) {
    width: 90%;
    padding-bottom: 55%;
  }

  @media (orientation: landscape) and (width <= 667px) {
    width: 90%;
    padding-bottom: 55%;
  }
}

.containers .slide_img img {
  width: inherit;
  height: inherit;
  margin-top: 0;
}

.prev,
.next {
  width: 12%;
  height: inherit;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(244, 244, 244, 0.9);
  z-index: 99;
  transition: 0.45s;
  cursor: pointer;
  text-align: center;
}

.next {
  right: 0px;
  span {
    left: 0;
  }
}
.prev {
  left: 0;
  span {
    right: 0;
  }
}

label span {
  position: absolute;
  font-size: 100pt;
  top: 50%;
  transform: translateY(-50%);
}

.prev:hover,
.next:hover {
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
}

.containers #nav_slide {
  width: 100%;
  bottom: 12%;
  height: 11px;
  position: absolute;
  text-align: center;
  z-index: 99;
  cursor: default;
}

#nav_slide .dots {
  top: -5px;
  width: calc(1vh + 0.5rem);
  height: calc(1vh + 0.5rem);
  margin: 0 calc(1.2vw - 0.2rem);
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.7);
  transition: 0.4s;
  @media screen and (width <= 768px) {
    display: none;
  }
}

#nav_slide .dots:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.9) !important;
  transition: 0.25s;
}

.slide_img {
  z-index: -1;
  text-wrap: nowrap;
  img {
    border-radius: 10px;
  }

  .slide_context {
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    text-align: center;
    text-shadow: 0 0 10px black;
    letter-spacing: 0.2vw;
    max-width: 90%;
    // text-wrap: wrap;
    text-transform: uppercase ;
  }
}

#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three,
#i4:checked ~ #four,
#i5:checked ~ #five {
  z-index: 9;
  animation: scroll 1s ease-in-out;
}

#i1:checked ~ #nav_slide #dot1,
#i2:checked ~ #nav_slide #dot2,
#i3:checked ~ #nav_slide #dot3,
#i4:checked ~ #nav_slide #dot4,
#i5:checked ~ #nav_slide #dot5 {
  background-color: rgba(255, 255, 255, 0.9);
}

//--------------------------------

.containers {
  @keyframes containers-scroll {
    0% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
    }
  }

  /* Применение данной анимации только для нужных элементов внутри .containers */
  #i1:checked ~ #one,
  #i2:checked ~ #two,
  #i3:checked ~ #three,
  #i4:checked ~ #four,
  #i5:checked ~ #five {
    z-index: 9;
    animation: containers-scroll 1s ease-in-out;
  }
}

//--------------------------------------------
@media screen and (max-width: 685px) {
  .container {
    border: none;
    width: 100%;
    height: 0;
    padding-bottom: 55%;
  }

  label span {
    font-size: 50pt;
  }

  .prev,
  .next {
    width: 15%;
  }
}
@media screen and (min-width: 970px) {
  .me {
    display: none;
  }
}

input[type="radio"] {
  display: none; /* Полностью скрывает радио-кнопки */
}

.slide_context.clickable {
  cursor: pointer;
}
