.products {
  height: 100vh;
  color: #000;
  height: 70vh;
  .product__title {
    padding: 1vw;
    .product__title-bottom,
    .product__title-top {
      display: flex;
      justify-content: space-between;
    }
    .product__title-median {
      line-height: 0.9;
      .product__title-imace_text {
        background-image: url(../../assets/img/136fGH8f.webp);
        background-clip: text;
        background-position: center;
        color: transparent;
        font-size: calc(5vw + 2rem);
        font-weight: 900;
        text-transform: uppercase;
        font-family: GaboDriveCondensed;
        display: grid;
        place-content: center;
        text-align: center;
      }
    }
    .product__title-img2,
    .product__title-img1 {
      width: calc(2vw + 2rem);
    }
  }
}

