.our-impact{
    background-image: url(../../assets/img/СapsuleСollection_Img/collection-right__element-img.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: #000;
    height: 70vh;
}