@import "../../assets/variables.scss";

.sections-products__container {
  color: #000;
  height: 100%; // ???
  background-color: $background-color;

  .product__title {
    padding: 1vw;
    margin-bottom: calc(2vh + 1rem);
    .product__title-bottom,
    .product__title-top {
      display: flex;
      justify-content: space-between;
    }

    .product__title-median {
      line-height: 1;
      .product__title-imace_text {
        background-image: url(../../assets/img/products_img/products_img.webp);
        background-clip: text;
        background-position: center center;
        background-size: contain;
        background-repeat: repeat;
        color: transparent;
        font-size: calc(5vw + 2rem);
        font-weight: 900;
        text-transform: uppercase;
        font-family: GaboDriveCondensed;
        display: grid;
        place-content: center;
        text-align: center;
      }
    }

    .product__title-img2,
    .product__title-img1 {
      width: calc(3vw + 2rem);
      filter: drop-shadow(3px 5px 8px rgba(0, 0, 0, 1));
    }
  }

  .product__list {
    display: grid;
    place-items: center;
    flex-direction: column;
    gap: 1vh;
    margin-block: calc(2vh + 2rem);
  }
}

// .slide_context.clickable {
//   cursor: pointer;
// }




