@import "../../../assets/mixin.scss";

.rocket-stove__wrapper {
  @include section-margins;

  .rocket-stove__title-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: calc(2.5vw + 1rem);
    gap: 2vw;
    text-align: center;
    .title-block-img {
      width: calc(3vw + 2rem);
      filter: drop-shadow(3px 5px 8px rgba(0, 0, 0, 1));
    }
    .rocket-stove__title {
      font-size: calc(2vw + 1rem);
      font-weight: 300;
      text-wrap: balance;
    }
  }
}

.rocket-stove__info-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2vw;
  padding-block: calc(2.5vw + 1rem);

  margin-bottom: 6vh;

  @media (orientation: landscape) {
    flex-wrap: nowrap;
  }

  .info-block__video {
    width: 100%;
    margin-bottom: 2vh;
    display: grid;
    place-self: center;

    @media (orientation: landscape) {
      height: 100vh;
      width: auto;
    }

    @media (width = 768px) {
      height: 100vh;
      width: auto;
      display: flex;
      justify-items: center;
    }
  }
  .info-block__text {
    width: 100%;

    @media (orientation: landscape) {
      height: 100vh;
      width: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

    .info-block__subtitled {
      font-size: calc(1.5vw + 0.7rem);
      text-align: center;
      text-wrap: balance;
      margin-block: 3vh;
      @media (orientation: landscape) {
        margin-block: 0;
      }
    }

    .info-text {
      font-size: calc(1vw + 0.5rem);
      font-weight: 300;
      text-wrap: balance;
      margin-inline: 4vw;
    }
  }
}
