.dryer-section {
  padding-top: calc(2vw + 1rem);
  padding-bottom: calc(3vw + 1rem);
  display: grid;
  text-align: center;
  place-self: center;
  width: 90%;
  height: auto;
  @media (width <= 768px) {
    padding-top: 0;
    width: 98%;
  }
}

.dryer-section__title {
  padding-block: calc(2vh + 1rem);
  font-size: calc(1vw + 1rem);
  text-wrap: balance;
  font-weight: 500;
  text-shadow: 0 0 4px black;
  width: 80%;
  display: grid;
  place-self: center;
}

.drying-rack-context{
  text-wrap: wrap;
  width: 95%;
}