@import "../../../assets/variables.scss";

.expandable-panels {
  .expandable-panels__intro {
    display: grid;
    justify-content: center;
    gap: 2.5vh;
    margin-top: calc(2vh + 2em);

    .expandable-panels__tagline {
      @include heading-styles;
      text-align: center;
    }

    .expandable-panels__title {
      font-size: calc(2vw + 1em);
      font-family: SamsungSharp;
      text-align: center;
      text-wrap: balance;
      line-height: 1.1;
      font-size: calc(2.5vw + 1.5em);

      @media (width <= 768px) {
        font-size: calc(3vw + 0.7em);
      }
      
      @media (orientation: landscape) {
        width: 75%;
        font-size: calc(1vw + 0.7rem);
        font-family: SamsungSharp;
        display: grid;
        place-self: center;
        text-wrap: balance;
        line-height: 1.1;
        text-transform: uppercase;
      }
    }
  }

  .expandable-panels__wrapper {
    margin-block: 1vh;
    @media (width <= 768px) {
      margin-block: 0;
    }
  }

  .expandable-panels__links {
    margin-block: calc(1vh + .5em);
    .category-links {
      display: flex;
      justify-content: center;
      gap: calc(2vw + 0.5em);
      @media (width <= 768px) {
        flex-direction: column;
        align-items: center;
      }

      .category-link-item {
        @include heading-styles;
        a {
          color: $swampColor;
        }
      }
    }

    .category-link-item a {
      position: relative;
      color: $swampColor;
      text-decoration: none;
      transition: color 0.3s ease;
      padding-inline: 1vw;
      padding-block: 0.3vh;
      &:hover {
        color: $activeStateColor;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border: 2px solid transparent;
        transition: border-color 0.3s ease, transform 0.3s ease;
      }

      &::before {
        top: 0;
        left: 0;
        border-top: 2px solid $swampColor;
        border-left: 2px solid $swampColor;
        transform: scaleX(0);
        transform-origin: left;
        border-radius: 2px;
      }

      &::after {
        bottom: 0;
        right: 0;
        border-bottom: 2px solid $swampColor;
        border-right: 2px solid $swampColor;
        transform: scaleX(0);
        transform-origin: right;
        border-radius: 2px;
      }

      &:hover::before {
        transform: scaleX(1);
      }

      &:hover::after {
        transform: scaleX(1);
      }
    }
    @media (width <= 768px) {
      margin-block: 0;
    }
  }
}
