.faq {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;

  h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .faq-accordion {
    border-top: 1px solid #ddd;
  }

  .faq-item {
    position: relative;
    border-bottom: 1px solid #ddd;
    height: calc(8vh + 4rem); /* Зарезервированное место */
    overflow: hidden; /* Чтобы контент внутри не вылезал за границы */
  }

  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 15px;
    padding: calc(0.6vw + 0.3rem);
    cursor: pointer;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    font-size: 1rem;
    appearance: none;

    &:hover {
      background-color: #f0f0f0;
    }

    &.active {
      background-color: #e0e0e0;
    }

    .faq-toggle {
      font-size: 1.5rem;
      transition: transform 0.3s ease;
    }

    &.active .faq-toggle {
      transform: rotate(180deg);
    }
  }

  .faq-answer {
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    background-color: #fff;
    padding: calc(0.6vw + 0.3rem);
    opacity: 0;
    position: relative;
    height: auto;
  }

  .faq-answer-content {
    height: auto; /* Чтобы прокрутка работала корректно */
    overflow-y: auto; /* Прокрутка только для появляющегося контента */
    padding-right: 17px; /* Для компенсации полосы прокрутки */
    padding-bottom: 17px; /* Дополнительный отступ снизу для компенсации полосы прокрутки */
    box-sizing: border-box; /* Убедитесь, что padding не увеличивает высоту */
  }

  .faq-answer[style*="maxHeight"] {
    opacity: 1;
    height: auto;
  
  }

  @media (max-width: 600px) {
    .faq-item {
      height: calc(10vh + 4rem); /* Увеличьте высоту для маленьких экранов */
    }

    .faq-answer-content {
      height: auto; //--------------------------------------------------------------------
      overflow-y: auto;
      padding-right: 17px;
      padding-bottom: 17px;
      box-sizing: border-box;
    }
  }

  .test-scroll {
    overflow-y: auto !important;
    height: 60% !important; /* Установите фиксированную высоту для теста */
  }
}
